/*ESTILO GERAL*/
:root{
    --color-white: #fff;
    --color-white2: #E8E5E4;
    --color-grey: #8b8b8b;
    --color-black: #000000;
    --color-green: #9CF100;
    --color-green2: #3ED500;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface{
    max-width: 90%;
    margin: 0 auto;
}

.ativo {
    position: relative;
    text-decoration: none; /* Remove o sublinhado padrão */
    font-size: 22px;
    font-weight: 600;
}

.ativo::after {
    content: '';
    color: var(--color-green2);
    position: absolute;
    bottom: -4px; /* Ajuste a distância do sublinhado ao texto conforme necessário */
    left: 50%;
    transform: translateX(-50%); /* Move o pseudo-elemento para a esquerda para centralizá-lo */
    align-items: center;
    width: 120%;
    height: 5px; /* Espessura do sublinhado */
    background-color: currentColor; /* Cor do sublinhado igual à cor do texto */
    border-radius: 10px; /* Raio da borda para arredondar as extremidades */
}


.btn-contato button{
    padding: 18px 38px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--color-green2);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
    transition: .2s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 20px var(--color-green);
    transform: scale(1.05);
}

.logoimg{
    height: 15em;
}

/*Cabeçalho*/

header{
    padding: 1px 1px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: var(--color-grey);
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: var(--color-white);
    transform: scale(1.025);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    font-size: 20px;
    font-weight: 300;
}


