/*ESTILO GERAL*/
:root{
    --color-white: #fff;
    --color-white2: #E8E5E4;
    --color-grey: #8b8b8b;
    --color-black: #000000;
    --color-green: #9CF100;
    --color-green2: #3ED500;
    --color-purple: #7f37c9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.flex{
    display: flex;
}

.interface{
    max-width: 90%;
    margin: 0 auto;
}

.ativo {
    position: relative;
    text-decoration: none; /* Remove o sublinhado padrão */
    font-size: 22px;
    font-weight: 600;
}

.ativo::after {
    content: '';
    color: var(--color-green2);
    position: absolute;
    bottom: -4px; /* Ajuste a distância do sublinhado ao texto conforme necessário */
    left: 50%;
    transform: translateX(-50%); /* Move o pseudo-elemento para a esquerda para centralizá-lo */
    align-items: center;
    width: 120%;
    height: 5px; /* Espessura do sublinhado */
    background-color: currentColor; /* Cor do sublinhado igual à cor do texto */
    border-radius: 10px; /* Raio da borda para arredondar as extremidades */
}


.btn-contato button{
    padding: 18px 38px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--color-green2);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
    transition: .2s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 20px var(--color-green);
    transform: scale(1.05);
}

.logoimg{
    height: 15em;
}

/*Cabeçalho*/

header{
    padding: 1px 1px;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: var(--color-grey);
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: var(--color-white);
    transform: scale(1.025);
}

header nav ul{
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    font-size: 22px;
    font-weight: 300;
    position: relative; /* Adicionado */
    margin-right: 20px; /* Espaçamento entre os itens do menu */
}

/*ESTILO DO TOPO DO SITE*/
section.topo-do-site{
    padding: 2px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.topo-do-site h1{
    color: var(--color-white);
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
}

.topo-do-site h1 span{
    color: var(--color-green);
}

.topo-do-site p{
    color: var(--color-white);
    font-size: 22px;
    font-weight: 300;
    margin: 30px 0;
}

.topo-do-site .img-topo-site{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

@keyframes underline {
    0%{
        width: 0;
        left: 0;
    }
    100%{
        width: 80%;
        left: 0;
    }
}

/*Footer*/

footer{
    color: var(--color-white);
}

#footer_contents{
    background-color: var(--color-black);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-white);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer_link i{
    font-size: 1.25rem;
}

#footer_social_media .footer_link:hover{
    opacity: 0.7;
}

#instagram{
    background:linear-gradient(#7f37c9, #ff2992, #ff9807);

}

#facebook{
    background-color: #4267b3;

}

#whatsapp{
    background-color: #25d366;
}

.footer_list{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    list-style: none;
}

.footer_list .footer_link{
    color: var(--color-grey);
    transition: all 0.4s;
}

.footer_list .footer_link :hover{
    color: var(--color-purple);
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--color-white);
    list-style: none !important;
    text-decoration: none !important;
}

#footer_subscribe .ph3{
    color: var(--color-white);
    list-style: none;
}

#footer_subscribe .plink{
    color: var(--color-grey);
    list-style: none;
    text-decoration: none;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--color-black);
    font-size: 0.9rem;
    padding: 1rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_contents {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_contents {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}